.my-container {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.cell {
    width: calc(100% / 10);
    border: 1px solid black;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bg {
    background-color: aqua;
}